.choose__blackout {
  background-color: $pp-blackout-color;
}

.choose {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.choose__window {
  background-color: $text-ordibary;
  color: $text-ordibary;
  width: $pp-mobile-window-width;
  font-family: $font-regular;
  font-size: $pp-mobile-font_size;
  border-radius: $pp-border-radius;
  cursor: default;
  position: absolute;
  user-select: none;
}

.choose__noDisplay {
  display: none;
}

.choose__nav {
  cursor: pointer;
  position: absolute;
  right: $pp-mobile-nav-shift;
  height: $pp-nav-height;
  width: $pp-nav-width;
  background-color: $text-select;
  border-radius: $pp-border-radius / 3;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.choose__nav--close {
  top: $pp-mobile-nav-shift - 20px;
}

.choose__nav--back {
  bottom: $pp-mobile-nav-shift - 20px;
}

.choose__nav:hover, .choose__nav:focus {
  background-color: $text-select;
}

.choose__button-svg {
  stroke: $text-ordibary;
  fill: $text-ordibary;
}

.choose__wrapper {
  background-color: $background-light;
  width: $pp-mobile-wrapper-width;
  border-radius: $pp-border-radius;
}

.choose__logo {
  display: none;
  height: $pp-nav-height * 1.2;
  width: $pp-nav-width * 1.2;
  position: absolute;
  background-color: $text-ordibary;
  border-radius: $pp-border-radius / 3;
  top: $pp-nav-shift * 2.5;
  left: $pp-nav-shift * 2.5;
}

.choose__logo-svg {
  display: none;
  width: $pp-nav-width * .9;
  height: $pp-nav-height * .9;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0 - $pp-nav-width * .9 / 2;
  margin-top: 0 - $pp-nav-height * .9 / 2;
  fill: $text-background;
}

@media (min-width: $tablet-width) {
  .choose__window {
    width: $pp-tablet-window-width;
    font-size: $pp-tablet-font_size;
  }

  .choose__nav {
    right: $pp-tablet-nav-shift;
  }

  .choose__nav--close {
    top: $pp-tablet-nav-shift;
  }

  .choose__nav--back {
    bottom: $pp-tablet-nav-shift;
  }

  .choose__wrapper {
    width: $pp-tablet-wrapper-width;
  }
}

@media (min-width: $desktop-width) {
  .choose__window {
    width: $pp-desktop-window-width;
    font-size: $pp-desktop-font_size;
  }

  .choose__wrapper {
    width: $pp-desktop-wrapper-width;
  }

  .choose__logo {
    display: block;
  }

  .choose__logo-svg {
    display: block;
  }
  .choose__nav {
    right: $pp-desktop-nav-shift;
    background-color: $text-background;
  }

}

