.choose__info-section {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.choose__info-window {
  background-color: $background-light;
  color: $text-ordibary;
  width: $pp-mobile-window-width - $pp-mobile-side-padding * 2;
  font-family: $font-regular;
  font-size: $pp-mobile-font_size * 1.1;
  line-height: $pp-mobile-font_size*1.5;
  border-radius: $pp-border-radius;
  cursor: default;
  position: absolute;
  user-select: none;
}

.choose__info-text {
  margin: 0;
  padding-left: $pp-mobile-side-padding;
  padding-right: $pp-mobile-side-padding;
  padding-top: $pp-mobile-top-padding;
  padding-bottom: $pp-mobile-bottom-padding;
}

@media (min-width: $tablet-width) {

  .choose__info-window {
    width: $pp-tablet-window-width - $pp-tablet-side-padding * 2;
    font-size: $pp-tablet-font_size * 1.1;
    line-height: $pp-tablet-font_size*1.7;
  }

  .choose__info-text {
    padding-left: $pp-tablet-side-padding;
    padding-right: $pp-tablet-side-padding;
    padding-top: $pp-tablet-top-padding;
    padding-bottom: $pp-tablet-bottom-padding;
  }
}

@media (min-width: $desktop-width) {

  .choose__info-window {
    width: $pp-desktop-window-width - $pp-desktop-side-padding * 2;
    font-size: $pp-desktop-font_size * 1.1;
    line-height: $pp-desktop-font_size*1.7;
  }

  .choose__info-text {
    padding-left: $pp-desktop-side-padding;
    padding-right: $pp-desktop-side-padding;
    padding-top: $pp-desktop-top-padding;
    padding-bottom: $pp-desktop-bottom-padding;
  }
}



