.pop-up__text {
  margin: 0;
  padding: $pp-common-padding $pp-mobile-common-padding 0 $pp-mobile-common-padding;
}

.pop-up__dark-text {
  color: $text-background;
}

.pop-up__list {
  padding-top: $pp-mobile-common-padding * 3;
  padding-left: $pp-mobile-common-padding;
  padding-bottom: $pp-mobile-common-padding * 5;
}

.pop-up__buttons-list {
  padding-left: $pp-mobile-buttons-padding-side;
  padding-right: $pp-mobile-buttons-padding-side;
}

.pop-up__list-item:not(:last-child) {
  margin-bottom: $pp-common-padding;
}

.pop-up__button {
  cursor: pointer;
  background-color: $text-ordibary;
  height: $pp-mobile-buttons-height;
  width: $pp-buttons-width;
  text-align: center;
  border: none;
  border-radius: $pp-border-radius / 2;
  font-family: $font-medium;
}

.pop-up__button:hover {
  background-color: $text-select;
}

@media (min-width: $tablet-width) {
  .pop-up__text {
    padding: $pp-common-padding $pp-tablet-common-padding 0 $pp-tablet-common-padding;
  }

  .pop-up__list {
    padding-top: $pp-tablet-common-padding * 2;
    padding-left: $pp-tablet-common-padding * 1.5;
    padding-bottom: $pp-tablet-common-padding * 2;
  }

  .pop-up__buttons-list {
    padding-left: $pp-tablet-buttons-padding-side;
    padding-right: $pp-tablet-buttons-padding-side;
  }

  .pop-up__button {
    height: $pp-buttons-height;
    width: $pp-buttons-width;
  }

  .pop-up__list-item:not(:last-child) {
    margin-bottom: $pp-tablet-list_item-padding-bottom;
  }

}

@media (min-width: $desktop-width) {
  .pop-up__text {
    padding: $pp-common-padding $pp-desktop-common-padding 0 $pp-desktop-common-padding;
  }

  .pop-up__list {
    padding-top: $pp-desktop-common-padding;
    padding-left: $pp-desktop-common-padding * 1.5;
    padding-bottom: $pp-desktop-common-padding;
  }

  .pop-up__buttons-list {
    padding-left: $pp-desktop-buttons-padding-side;
    padding-right: $pp-desktop-buttons-padding-side;
  }

  .pop-up__list-item:not(:last-child) {
    margin-bottom: $pp-desktop-list_item-padding-bottom;
  }

}
