$buttons-width: 100%;
$buttons-height: 40px;
$buttons-padding-left: 20%;
$list_item-padding-bottom: 20px;
$subcust-padding_left: 55px;

$time-to-animation: .3s;

.pop-up__text {
  margin: 0;
  padding: $common-padding $common-padding 0 $common-padding;
}

.pop-up__dark-text {
  color: $text-background;
}

.pop-up__list {
  padding-top: $common-padding;
  padding-left: $common-padding * 2;
  padding-bottom: $common-padding * 1.5;
}

.pop-up__buttons-list {
  padding-left: $buttons-padding-left;
  padding-right: $buttons-padding-left;
}

.pop-up__list-item:not(:last-child) {
  margin-bottom: $list_item-padding-bottom;
}

.pop-up__button {
  cursor: pointer;
  background-color: $text-ordibary;
  height: $buttons-height;
  width: $buttons-width;
  text-align: center;
  border: none;
  border-radius: $border-radius / 2;
  font-family: $font-medium;
}

.pop-up__button:hover {
  background-color: $text-select;
}

.pop-up__openwide-svg {
  stroke: $text-select;
  transform: rotate(0deg);
  transition: $time-to-animation;
}

.pop-up__openwide-rotate {
  transform: rotate(-180deg);
  transition: $time-to-animation;
}

.pop-up__list-item-text {
  padding-left: $common-padding / 2;
}

.pop-up__subcast {
  font-size: $common-font_size;
  padding-left: $subcust-padding_left;
  padding-right: $common-padding;
  margin-bottom: 0;
  padding-bottom: $common-padding;
}

.pop-up__list-item:last-child .pop-up__subcast {
  padding-bottom: $common-padding * .5;
}

.pop-up__list-item-wrapper {
  cursor: pointer;
  display: inline-block;
}

.pop-up__list-item-wrapper:hover .pop-up__list-item-text{
  color: $text-select;
}

.pop-up__list-item-wrapper:hover .pop-up__openwide-svg{
  transform: rotate(-90deg);
  transition: $time-to-animation;
}
