.pop-up__text {
  margin: 0;
  padding: $pp-common-padding $pp-mobile-common-padding 0 $pp-mobile-common-padding;
}

.pop-up__dark-text {
  color: $text-background;
}

.pop-up__list {
  padding-top: $pp-mobile-common-padding * 3;
  padding-left: $pp-mobile-common-padding;
  padding-bottom: $pp-mobile-common-padding * 5;
}

.pop-up__buttons-list {
  padding-left: $pp-mobile-buttons-padding-side;
  padding-right: $pp-mobile-buttons-padding-side;
}

.pop-up__list-item:not(:last-child) {
  margin-bottom: $pp-common-padding;
}

.pop-up__button {
  cursor: pointer;
  background-color: $text-ordibary;
  height: $pp-mobile-buttons-height;
  width: $pp-buttons-width;
  text-align: center;
  border: none;
  border-radius: $pp-border-radius / 2;
  font-family: $font-medium;
}

.pop-up__button:hover {
  background-color: $text-select;
}

.pop-up__openwide-svg {
  stroke: $text-select;
  transform: rotate(0deg);
  transition: $pp-time-to-animation;
}

.pop-up__openwide-rotate {
  transform: rotate(-180deg);
  transition: $pp-time-to-animation;
}

.pop-up__list-item-text {
  padding-left: $pp-common-padding / 2;
}

.pop-up__subcast {
  padding-left: $pp-mobile-subcust-padding_left;
  padding-right: $pp-mobile-subcust-padding_left;
  margin-bottom: 0;
  padding-bottom: $pp-common-padding;
}

.pop-up__list-item:last-child .pop-up__subcast {
  padding-bottom: $pp-common-padding * .5;
}

.pop-up__list-item-wrapper {
  cursor: pointer;
  display: inline-block;
}

.pop-up__list-item-wrapper:hover .pop-up__list-item-text{
  color: $text-select;
}

.pop-up__list-item-wrapper:hover .pop-up__openwide-svg{
  transform: rotate(-90deg);
  transition: $pp-time-to-animation;
}

@media (min-width: $tablet-width) {
  .pop-up__text {
    padding: $pp-common-padding $pp-tablet-common-padding 0 $pp-tablet-common-padding;
  }

  .pop-up__list {
    padding-top: $pp-tablet-common-padding * 2;
    padding-left: $pp-tablet-common-padding * 1.5;
    padding-bottom: $pp-tablet-common-padding * 2;
  }

  .pop-up__buttons-list {
    padding-left: $pp-tablet-buttons-padding-side;
    padding-right: $pp-tablet-buttons-padding-side;
  }

  .pop-up__button {
    height: $pp-buttons-height;
    width: $pp-buttons-width;
  }

  .pop-up__list-item-text {
    padding-left: $pp-common-padding / 2;
  }

  .pop-up__list-item:not(:last-child) {
    margin-bottom: $pp-tablet-list_item-padding-bottom;
  }

  .pop-up__subcast {
    padding-left: $pp-tablet-subcust-padding_left;
    padding-right: $pp-tablet-subcust-padding_right;
  }

}

@media (min-width: $desktop-width) {
  .pop-up__text {
    padding: $pp-common-padding $pp-desktop-common-padding 0 $pp-desktop-common-padding;
  }

  .pop-up__list {
    padding-top: $pp-desktop-common-padding;
    padding-left: $pp-desktop-common-padding * 1.5;
    padding-bottom: $pp-desktop-common-padding;
  }

  .pop-up__buttons-list {
    padding-left: $pp-desktop-buttons-padding-side;
    padding-right: $pp-desktop-buttons-padding-side;
  }

  .pop-up__list-item-text {
    padding-left: $pp-common-padding / 3;
  }

  .pop-up__list-item:not(:last-child) {
    margin-bottom: $pp-desktop-list_item-padding-bottom;
  }

  .pop-up__subcast {
    padding-left: $pp-tablet-subcust-padding_left;
    padding-right: $pp-tablet-subcust-padding_right;
  }
  
}
