$window-width: 850px;
$wrapper-width: 80%;
$border-radius: 10px;

$window-margin_left: 0 - $window-width / 2;
$common-font_size: 20px;
$common-padding: 25px;

$nav-height: 40px;
$nav-width: $nav-height;
$nav-shift: -10px;

$shadow-shift-right: 0px;
$shadow-shift-bottom: $shadow-shift-right;
$shadow-blur: 3px;
$shadow-color: $background-dark;

.pop-up {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 100;
}

.pop-up__shadow {
  box-shadow: $shadow-shift-right $shadow-shift-bottom $shadow-blur 0 $background-dark;
}

.pop-up__window {
  background-color: $text-ordibary;
  color: $text-ordibary;
  width: $window-width;
  font-family: $font-regular;
  font-size: $common-font_size;
  border-radius: $border-radius;
  cursor: default;

  position: absolute;

  display: flex;
  user-select: none;
}

.pop-up__noDisplay {
  display: none;
}

.pop-up__nav {
  cursor: pointer;
  position: absolute;
  right: $nav-shift;
  height: $nav-height;
  width: $nav-width;
  background-color: $background-light;
  border-radius: $border-radius / 3;
}

.pop-up__nav--close {
  top: $nav-shift;
}

.pop-up__nav--back {
  bottom: $nav-shift;
}

.pop-up__button-svg {
  stroke: $text-ordibary;
  fill: $text-ordibary;
}

.pop-up__nav:hover {
  background-color: $text-select;
}

.pop-up__wrapper {
  background-color: $background-light;
  width: $wrapper-width;
  border-radius: $border-radius;
}

.pop-up__logo {
  width: $nav-width * 1.2;
  height: $nav-height * 1.2;
  position: absolute;
  background-color: $text-ordibary;
  border-radius: $border-radius / 3;
  top: $nav-shift * 2.5;
  left: $nav-shift * 2.5;
}

.pop-up__logo-svg {
  width: $nav-width * .9;
  height: $nav-height * .9;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0 - $nav-width * .9 / 2;
  margin-top: 0 - $nav-height * .9 / 2;
  fill: $text-background;
}


