.pop-up--blackout {
  background-color: $pp-blackout-color;
}

.pop-up {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.pop-up__shadow {
  box-shadow: $pp-shadow-shift-right $pp-shadow-shift-bottom $pp-shadow-blur 0 $background-dark;
}

.pop-up__window {
  background-color: $text-ordibary;
  color: $text-ordibary;
  width: $pp-mobile-window-width;
  font-family: $font-regular;
  font-size: $pp-mobile-font_size;
  border-radius: $pp-border-radius;
  cursor: default;
  position: absolute;
  user-select: none;
}

.pop-up__noDisplay {
  display: none;
}

.pop-up__nav {
  cursor: pointer;
  position: absolute;
  right: $pp-mobile-nav-shift;
  height: $pp-nav-height;
  width: $pp-nav-width;
  background-color: $text-select;
  border-radius: $pp-border-radius / 3;
}

.pop-up__nav--close {
  top: $pp-mobile-nav-shift - 20px;
}

.pop-up__nav--back {
  bottom: $pp-mobile-nav-shift - 20px;
}

.pop-up__button-svg {
  stroke: $text-ordibary;
  fill: $text-ordibary;
}

.pop-up__nav:hover {
  background-color: $text-select;
}

.pop-up__wrapper {
  background-color: $background-light;
  width: $pp-mobile-wrapper-width;
  border-radius: $pp-border-radius;
}

.pop-up__logo {
  display: none;
  height: $pp-nav-height * 1.2;
  width: $pp-nav-width * 1.2;
  position: absolute;
  background-color: $text-ordibary;
  border-radius: $pp-border-radius / 3;
  top: $pp-nav-shift * 2.5;
  left: $pp-nav-shift * 2.5;
}

.pop-up__logo-svg {
  display: none;
  width: $pp-nav-width * .9;
  height: $pp-nav-height * .9;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0 - $pp-nav-width * .9 / 2;
  margin-top: 0 - $pp-nav-height * .9 / 2;
  fill: $text-background;
}

@media (min-width: $tablet-width) {
  .pop-up__window {
    width: $pp-tablet-window-width;
    font-size: $pp-tablet-font_size;
  }

  .pop-up__nav {
    right: $pp-tablet-nav-shift;
    background-color: $text-select;
  }

  .pop-up__nav--close {
    top: $pp-tablet-nav-shift;
  }

  .pop-up__nav--back {
    bottom: $pp-tablet-nav-shift;
  }

  .pop-up__wrapper {
    width: $pp-tablet-wrapper-width;
  }
}

@media (min-width: $desktop-width) {
  .pop-up__window {
    width: $pp-desktop-window-width;
    font-size: $pp-desktop-font_size;
  }

  .pop-up__wrapper {
    width: $pp-desktop-wrapper-width;
  }

  .pop-up__logo {
    display: block;
  }

  .pop-up__logo-svg {
    display: block;
  }
}

